# Go build files
/bin/
/pkg/
*.exe
*.out
*.test

# Editor config files
.editorconfig

# IDE specific files
.vscode/
.idea/

# Test files
coverage/
test/

# Temporary files
*.swp
*.bak
*.tmp
*.log
*.pid
*.sock
*.sync

# Environment variables
.env
.env.*